body {
    padding: 2em;
    font-family: Roboto, sans-serif;
}

h2 {
    margin-top: 2em;
}
.logo{
    font-family: 'Playfair Display', serif;
    color: inherit;
    font-size: 3rem;
    text-decoration: none;
    display: block;
}

.apps {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.app img {
    max-width: 300px;
    display: block;
}

.app {
    border: 1px solid #ebebeb;
    margin:0 1em 1em 0;
}

.app h3 {
    margin-top: 0;
}

.app a {
    text-decoration: none;
    color: inherit;
    padding: 1em;
    display: block;
}

.app em {
    text-decoration: none;
    color: inherit;
    margin-top: 1em;
    display: block;
}
